*{
	margin: 0;
	padding: 0;
}
body,html{
	width: 100%;
	height: 100%;
}
.isIE_box{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
	background-color: #FFFFFF;
	display: none;
}
.isIE_box p{
	width: 100%;
	position: absolute;
	top: 50%;
	text-align: center;
	font-size: 0.3rem;
}
#container{
	width: 100%;
	height: 100%;
	min-height: 600px;
	min-width: 1200px;
}
.login_div{
	width: 100%;
	height: 100%;
	background-color: #FFFFFF;
	z-index: 995;
}
.pass_div{
	width: 200px;
	height: 200px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
.password{
	width: 200px;
	height: 30px;
	border-radius: 20px;
	outline: none;
	border: none;
	border: 1px solid #000000;
	text-align: center;
}
.login{
	width: 200px;
	height: 30px;
	border: none;
	background-color: #9db8e4;
	border-radius: 20px;
	color: #FFFFFF;
	display: block;
	outline: none;
	margin: 20px auto;
	cursor: pointer;
}
li{
	list-style-type: none;
}
.cover{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;

}
.load_div{
	width: 100%;
	height: 100%;
	background-color: #000;
	z-index: 998;
	position: relative;
}
.load_div .loading_icon_box{
	position: absolute;
	width: 118px;
	height: 256px;
	left: 50%;
	top: 50%;
	margin-top: -128px;
	margin-left: -59px;
}
.load_icon{
	display: none;
}
.swiper-slide{
	overflow: hidden;
	position: relative !important;
}
.FZLT_6{
	
}
.FZLT_8{
	font-family: "FZLTH8K" !important;
}
.Samsung_bold{
	font-family: "SamsungSharpSans-Bold" !important;
}

#container{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
#mySwiper{
	width: 100%;
	height: 100%;
}
.nav_bar{
	position: absolute;
	width: 100%;
	height: 0.74rem;
	background-color: #000000;
	z-index: 10;
	
}
.logo_div{
	width: 1.82rem;
	height: 0.74rem;
	line-height: 0.74rem;
	float: left;
	margin-left: 0.84rem;
}
.logo_div img{
	width: 100%;
	display: block;
	margin-top: 0.25rem;

}
.nav_bar li{
	float: left;
	height: 0.74rem;
	width: 2.3rem;
	line-height: 0.74rem;
	
	color: #cccccc;
	font-size: 0.2rem;
	/*margin-left: 1.4rem;*/
	cursor: pointer;
	font-family: "FZLTH3K" !important;
	letter-spacing: 3px;
	position: relative;
}
.nav_li_1{
	margin-left: 0.93rem !important;
}
.nav_bar li .nav_w{
	width: 0.92rem;
	height: 0.2rem;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
.nav_bar li .nav_linY{
	width: 0.02rem;
	height: 0.17rem;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -0.085rem;
}
.advance_div{
	width: 1.36rem;
	height: 0.74rem;
	background-color: #000;
	float: right;
	line-height: 0.74rem;
	cursor: pointer;
	margin-right: 0.72rem;
	display: none;
}
.advance_div img{
	display: block;
	width: 100%;
	height: 100%;
}
.advance_div p{
	font-size: 0.3619rem;
	color: #FFFFFF;
	text-align: center;
	font-weight: bold;
	word-spacing: 2px;	
}
.advance_div p span{
	font-weight: 100;
	font-size: 0.3rem;
}

.kv_swiper{
	position: absolute;
	top: 0.74rem;
	left: 0;
	width: 100%;
	height: 100%;
}
#kv_swiper .swiper-wrapper{
	top: -0.74rem !important;
}
.kv_slide_add1{
 	background-image: url(../img/kv_add1_bg.jpg?v=1);
 	background-size: cover;
 	background-repeat: no-repeat;
 	background-position: center 0.7rem;
}
.kv_slide_add2{
 	background-image: url(../img/kv_add2_bg.jpg?v=1);
 	background-size: cover;
 	background-repeat: no-repeat;
 	background-position: center 0.7rem;
}
.kv_slide_add3{
 	background-image: url(../img/kv_add3_bg.jpg?v=1);
 	background-size: cover;
 	background-repeat: no-repeat;
 	background-position: center 0.7rem;
}
.kv_slide_add4{
 	background-image: url(../img/add-607-1.jpg);
 	background-size: cover;
 	background-repeat: no-repeat;
 	background-position: center 0.7rem;
}
.kv_slide1{
 	background-image: url(../img/kv1.jpg);
 	background-size: cover;
 	background-repeat: no-repeat;
 	background-position: center 0px;
}
.kv_slide2{
 	background-image: url(../img/kv2.jpg?v=1);
 	background-size: cover;
 	background-repeat: no-repeat;
 	background-position: center 0rem;
}
.swiper_slide_add4_content{
	width: 14rem;
	position: absolute;
	left: 50%;
	margin-left: -7rem;
	height: 100%;
	
}
/*.kv_slide2_s{
 	background-image: url(../img/kv2.jpg);
 	background-size: cover;
 	background-repeat: no-repeat;
 	background-position: center -0.7rem;
}*/
.logo_left_down{
	width: 3.02rem;
	height: 0.8rem;
	position: absolute;
	bottom: 0.63rem;
	left: 0rem;
}
.logo_left{
	width: 2.98rem;
	height: 0.46rem;
	position: absolute;
	top: 1.9rem;
	left: 0;
}
.logo_right{
	width: 2.07rem;
	height: 0.56rem;
	position: absolute;
	right: 0;
	top: 1.9rem;
}
.swing_circle_img{
    position: absolute;
    height: 90%;
    left: -16%;
    top: 0%;
}
.add_607_p1{
	width: 6.57rem;
	position: absolute;
	right: 0;
	top: 3rem;
}
.add_607_btn{
	width: 3.07rem;
    position: absolute;
    top: 7.8rem;
    right: 1.5rem;
    -webkit-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	-moz-transition: all 0.3s;
}
.add_607_p1_s{
	top: 2.5rem;
}
.add_607_btn_s{
	 top: 7.1rem;
}
.add_607_btn a{
	display: block;
}
.add_607_btn img{
	width: 100%;
	height: 100%;
	display: block;
}
.add_607_btn:hover{
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
}
.zyw_img{
	width: 50%;
	display: block;
	position: absolute;
	top: 0.74rem;
	left: 0;
}
.kv_slide3{
	background-color: #000000;
}
.kv_slide4{
	background-color: #000000;
}
.slide_add1{
	background-color: #000000;
}
.video_add1{
	width: 100%;
	height: 100%;
	background-color: #000000;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 20;
	/*display: none;*/
}
.add_phone_1{
	height: 93%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	display: none;
	z-index: 30;
	
}
.add1_poster{
	z-index: 9;
	
}
.video_add1_c{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 25;
	display: none;
}
.add1_bg{
	z-index: 0;
}
.add_left{
	width: 50%;
	height: 100%;
	float: left;
	position: relative;
}
.add_right{
	width: 50%;
	height: 100%;
	float: right;
	position: relative;
}
.add_hand{
width: 151%;
    /* height: 7.47rem; */
    position: absolute;
    bottom: -12%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    
}

.add_hand1{
	width: 5.15rem !important;
    /* height: 7.47rem; */
    position: absolute;
    left: 3rem !important;
    z-index: 29 !important;
	bottom: -0.3rem !important;
	transform: none !important;
	transition-duration: 1s !important;
    -moz-transition-duration: 1s !important;
    -webkit-transition-duration: 1s !important;
    -ms-transition-duration: 1s !important;
    -o-transition-duration: 1s !important;
}

.add_phone_box{
	position: absolute;
	left: 50%;
	bottom: 50%;
	transform: translateX(-50%) translateY(50%);
	-webkit-transform: translateX(-50%) translateY(50%);
	-moz-transform: translateX(-50%) translateY(50%);
	-o-transform: translateX(-50%) translateY(50%);
	-ms-transform: translateX(-50%) translateY(50%);
	z-index: 30;
	display: none;
}

.add_phone_box1{
	bottom: 4.5rem !important;
	width: 3.78rem !important;
    height: 8rem !important;
    position: absolute;
    left: 3rem !important;
    /*bottom: -5.5rem !important;*/
    z-index: 30 !important;
    transform: none;
    -ms-transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    transform: translateX(0) translateY(50%);
	-webkit-transform: translateX(0) translateY(50%);
	-moz-transform: translateX(0) translateY(50%);
	-o-transform: translateX(0) translateY(50%);
	-ms-transform: translateX(0) translateY(50%);
    transition-duration: 1s;
    -moz-transition-duration: 1s;
    -webkit-transition-duration: 1s;
    -ms-transition-duration: 1s;
    -o-transition-duration: 1s;
    
}
.add_phone_box11{
	bottom: 4.5rem !important;
	transition-duration: 1s;
    -moz-transition-duration: 1s;
    -webkit-transition-duration: 1s;
    -ms-transition-duration: 1s;
    -o-transition-duration: 1s;
}
.add_phone_hand{

	z-index: 29 !important;
}
.chat_content{
	width: 96.7%;
    height: 94%;
    position: absolute;
	top: 3%;
    left: 2%;
    opacity: 0;
	/*background-image: url(../img/chat_c.png);
	background-size: 100% 100%;*/
}
.s_phone_add{
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	z-index: 14;
}
.chat_c{
    width: 100%;
    height: 98.5%;
    position: absolute;
    top: 2%;
    left: 0;
    z-index: 10;
}
.head_group{
	width: 85%;
    /* height: 0.8rem; */
    position: absolute;
    left: 50%;
    margin-left: -42.5%;
    bottom: 16%;
    /* display: none; */
    z-index: 11;
}
.chat_window{
	width: 99%;
    height: 54%;
    position: absolute;
    top: 11%;
    overflow: hidden;
    /* display: none; */
    z-index: 3;
    background-color: rgb(250,250,250);
}
.chat_window .mes_l{
	display: block;
	float: left;
	margin-left: 7%;
	margin-top: 4%;
}
.mes1_1{
	width: 60%;
	opacity: 0;
	transform: translateY(20px);
	-webkit-transform: translateY(20px);
	-ms-transform: translateY(20px);
	-moz-transform: translateY(20px);
	-o-transform: translateY(20px);
}
.mes2_1{
	width: 66%;
	opacity: 0;
	transform: translateY(20px);
	-webkit-transform: translateY(20px);
	-ms-transform: translateY(20px);
	-moz-transform: translateY(20px);
	-o-transform: translateY(20px);
}
.mes3_1{
	width: 55%;
	opacity: 0;
	transform: translateY(20px);
	-webkit-transform: translateY(20px);
	-ms-transform: translateY(20px);
	-moz-transform: translateY(20px);
	-o-transform: translateY(20px);
}
.mes4_1{
	width: 56%;	
	opacity: 0;
	transform: translateY(20px);
	-webkit-transform: translateY(20px);
	-ms-transform: translateY(20px);
	-moz-transform: translateY(20px);
	-o-transform: translateY(20px);
	
}
.chat_window .mes_r{
	display: block;
	float: right;
	margin-right: 0.13rem;
	margin-top: 0.15rem;
}
.chat_item_l{
	width: 100%;
	overflow: hidden;
	margin-top: 0.1rem;
}
.chat_item_l img{
	float: left;
	margin-left: 0.13rem;
}
.chat_item_r{
	width: 100%;
	overflow: hidden;
	margin-top: 0.1rem;
}
.chat_item_r img{
	float: right;
	margin-right: 0.13rem;
}
.women_head{
	width: 0.62rem;
	height: 0.62rem;
	
}
.man_head{
	width: 0.62rem;
	height: 0.62rem;
}
.mes{
	height: 0.35rem;
}
.face_box{
	opacity: 0;
	transform: translateY(20px);
	-webkit-transform: translateY(20px);
	-moz-transform: translateY(20px);
	-ms-transform: translateY(20px);
	-o-transform: translateY(20px);
}
.face_box img{
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	/*display: none;*/
}
.face1_box{
	width: 2.24rem;
    height: 2.24rem;
    position: absolute;
    top: 0;
    right: -47%;
    z-index: 32;
	
}
.face2_box{
    width: 2.6rem;
    height: 2.6rem;
    position: absolute;
	top: -10%;
    left: -57%;
}
.face3_box{
	width: 2rem;
    height: 2rem;
    position: absolute;
bottom: 36%;
    left: -81%;
}
.face4_box{
width: 1.49rem;
    height: 1.49rem;
    position: absolute;
    bottom: 3.1rem;
    right: -42%;
    z-index: -1;
}
.face5_box{
    width: 1rem;
    height: 1rem;
    position: absolute;
    bottom: 8%;
    left: -30%;
    z-index: 11;
}
.face6_box{
	width: 1.68rem;
    height: 1.68rem;
    position: absolute;
    bottom: -2%;
    left: 118%;
}
.add_r_c{
	width: 100%;
}
.add1_r_bottom{
	width: 6rem;
	height: 1.45rem;
	margin: 0.38rem auto 0;
}
.adds_pos{
width: 94.5%;
    /* height: 6.58rem; */
    position: absolute;
    top: 5%;
    left: 2.5%;
    z-index: 1;
}

.add1_title{
	width: 6rem;
	display: block;
	margin: 0 auto;
}
.add1_desc{
	width: 6rem;
	display: block;
	margin: 0.36rem auto 0;
}
.add_posS{
	width: 2.57rem;
	float: left;
	cursor: pointer;
}
.add_pos_ani{
	height: 100%;
	position: absolute;
	top: 0;
	left:0;
	bottom: 0;
	right: 0;
	margin: auto;
}
.add_r_s{
	width: 3.43rem;
	height: 1.45rem;
	float: right;
}
.add_s_t{
    width: 2.2rem;
    display: block;
    margin: 0.3rem auto;
}
.add1_btn_box{
	display: block;
	width: 2.94rem;
	margin: 0 auto;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	-moz-transition: all 0.3s;
}

.add1_btn_box:hover{
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
}
.add1_btn{
	width: 2.94rem;
	display: block;
	margin: 0.2rem auto;
}
.add1_video{
	position: absolute;
	top: 0;
	left: 50%;
	/*width: 100%;*/
	height: 100%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
}

.kv_video{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0.54rem;
	left: 0;
}
.kv_video_1{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0.54rem;
	left: 0;
}
.kv_2_word{
	width: 9.21rem;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	
}
.kv_add_phone1{
	height: 100%;
	display: block;
	margin: 0 auto;
}
.kv_2_word_1{
	width: 9.21rem;
	height: 100%;
	position: absolute;
	top: 0;
	right: 1.5rem;
	
}
.kv_name1{
    height: 85%;
    position: absolute;
    top: 1.2rem;
    left: 0;
}
.kv_name2{
    height: 95%;
    position: absolute;
    bottom: 0;
    left: 0;
}
.kv_add_name1{
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}
.kv_add_name2{
    height: 88%;
    position: absolute;
    bottom: 0;
    left: 0;
}
.kv_w1{
    width: 7.27rem;
    display: block;
    margin: 2.9rem auto 0;
    /*left: 50%;
    margin-left: -2.795rem;
    top: 17%;
    z-index: 2;*/
}

.kv_w2{
    width: 6.61rem;
    display: block;
    margin: 0rem auto 0;
    /*position: absolute;
    left: 53%;
    margin-left: -2.795rem;
    top: 30%;
    z-index: 2;*/
}
.kv_btn_new{
	width: 3.21rem;
	/*height: 0.77rem;*/
	display: block;
	margin: 0.35rem auto 0;
}
.kv_btn_new img{
	display: block;
	width: 100%;
	/*height: 100%;*/
}
.kv_phone1{
	width: 4.4rem;
	margin: 0.28rem auto 0;
	display: block;
}
.kv_phone2{
	width: 5.56rem;
	position: absolute;
	left: 50%;
	margin-left: -2.565rem;
	bottom: 0;
	z-index: 1;
}
.kv1_w1{
	width: 6.67rem;
	position: absolute;
	left: 50%;
	margin-left: -3.335rem;
	top: 19%;
	z-index: 2;
}
.kv1_w2{
    width: 5.72rem;
    position: absolute;
    left: 53%;
    margin-left: -2.86rem;
    top: 28%;
    z-index: 2;
}
.mengban{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.7);
}
.kv_mengban{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.7);
	z-index: 8;
}
.buy_box{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	/*background-color: rgba(0,0,0,0.7);*/
	z-index: 9;

	/*display: none;*/
}
.buy_content{
	width: 14.22rem;
	height: 100%;
	margin: 0 auto;
	position: relative;
}

.phone_img{
	width: 6.27rem;
	/*height: 9.03rem;*/
	position: absolute;
	left: 0rem;
	bottom: 0;
	opacity: 0;
	transform: translateY(3rem);
	-webkit-transform: translateY(3rem);
	-ms-transform: translateY(3rem);
	-o-transform: translateY(3rem);
	-moz-transform: translateY(3rem);
}
.buy_word_box{
	width: 6.15rem;
    height: 3.67rem;
    position: absolute;
    right: 0;
    top: 60%;
    margin-top: -2.75rem;
    transition: all .5s;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    -ms-transition: all .5s;
    -moz-transition: all .5s;
}
.buy_word_1{
	width: 5.64rem;
	display: block;
	/*margin: 0 auto;*/
}
.buy_word_2{
	width: 5.64rem;
	display: block;
	/*margin: 0.3rem auto 0;*/
}
.buy_word_3{
	width: 5.56rem;
	display: block;
	/*margin: 0.3rem auto 0;*/
}
.buy_word_4{
	width: 5.56rem;
	display: block;
	margin-top: 0.8rem;
	/*margin: 0.3rem auto 0;*/
}
.buy_item_1{
	width: 6.06rem;
	height: 0.39rem;
	margin: 0.17rem auto 0;
}
.buy_item_1 .p1{
	font-size: 0.25rem;
	color: #FFFFFF;
	float: left;
	height: 0.43rem;
	line-height: 0.43rem;
}
.buy_item_1 .line_Y{
	color: #FFFFFF;
	float: left;
	height: 0.43rem;
	line-height: 0.43rem;
	font-size: 0.25rem;
	margin-left: 0.19rem;
	/*margin-top: 0.1rem;*/
}
.buy_item_1 .p2{
	font-size: 0.2345rem;
	color: #FFFFFF;
	height: 0.43rem;
	line-height: 0.43rem;
	font-weight: bold;
	float: left;
	margin-left: 0.33rem;
}
.buy_item_1 .line_Y_1{
	color: #FFFFFF;
	float: left;
	height: 0.43rem;
	line-height: 0.43rem;
	font-size: 0.1rem;
	margin-left: 0.05rem;
}
.buy_item_1 .p3{
	font-size: 0.2345rem;
	color: #FFFFFF;
	height: 0.43rem;
	line-height: 0.43rem;
	font-weight: bold;
	float: left;
	margin-left: 0.05rem;
}
.buy_item_1 .p3{
	font-size: 0.2345rem;
	color: #FFFFFF;
	height: 0.43rem;
	line-height: 0.43rem;
	font-weight: bold;
	float: left;
	margin-left: 0.05rem;
}
.buy_item_1 .p4{
	font-size: 0.2345rem;
	color: #FFFFFF;
	float: left;
	height: 0.43rem;
	line-height: 0.43rem;
	margin-left: 0.06rem;
}
.kv_p1{
	width: 3.78rem;
	display: block;
	float: left;
	/*margin-top: 0.05rem;*/
	
}
.kv_p2{
	height: 0.87rem;
	display: block;
	float: left;
	/*margin-left: 0.05rem;*/
}
.buy_item_1 .find_icon_box{
	width: 1.4rem;
	display: block;
	float: left;
	height: 0.39rem;
	cursor: pointer;
	margin-left: 0.17rem;
	position: relative;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	-moz-transition: all 0.3s;
}
.buy_item_1 .find_icon_box:hover{
	transform: scale(1.1);
	-ms-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);
}
.buy_item_1 .find_icon{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	
}
.line_X{
	/*height: 2px;*/
	width: 5.52rem;
	margin-top: 0.18rem;
}
.line_X img{
	width: 100%;
	display: block;
}
.buy_item_2{
	width: 6.06rem;
	height: 87rem;
	margin: 0.28rem auto 0;
}
.buy_item_2 .p1{
	font-size: 0.25rem;
	color: #FFFFFF;
	float: left;
	height: 0.87rem;
	line-height: 0.87rem;
}
.buy_item_2 .line_Y{
	color: #FFFFFF;
	float: left;
	height: 0.87rem;
	line-height: 0.87rem;
	font-size: 0.25rem;
	margin-left: 0.19rem;
	/*margin-top: 0.1rem;*/
}
.buy_item_2 .icon_box{
	width: 4.49rem;
	height: 1.05rem;
	float: right;
	/*margin-right: 0.2rem;*/
}
.buy_item_2 .icon_box a{
	display: block;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	-moz-transition: all 0.3s;
	height: 0.87rem;
}
.buy_item_2 .icon_box a:hover{
	transform: scale(1.1);
	-ms-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);
}
.buy_item_2 .icon_box a img{
	display: block;
	
	height: 0.87rem;
}
.buy_item_2 .JD{
	float: left;
	margin-left: 0.14rem;
}
.buy_item_2 .SX{
	float: left;
	margin-left: 0rem;
}
.buy_item_2 .TM{
	float: left;
	margin-left: 0.14rem;
}
.buy_item_2 .GM{
	float: left;
	margin-left: 0.14rem;
}
.buy_item_2 .SN{
	float: left;
	margin-left: 0.14rem;
}

.close{
	width: 0.3rem;
	height: 0.3rem;
	position: absolute;
	top: 1.4rem;
	right: 0.62rem;
	cursor: pointer;
}
.slide2{
	/*width: 100%;
	height: 100%;*/
	background-image: url(../img/slide2_bg.jpg);
	background-size: cover;
	background-position: center center;
}
.people_img{
	height: 90%;
	/*position: absolute;*/
	display: block;
	margin: 5% auto 0;
	
	
}
.peopleAni{
	opacity: 0;


}
.slide2_content{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden;
	opacity: 0;
	/*background-color: rgba(0,0,0,0.7);*/
	/*display: none;*/
}
.slide2-title{
	width: 7.09rem;
	height: 1.27rem;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -0.635rem;
	margin-left: -3.545rem;
	
}
.video-content{
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 5;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
}
.v_slide2{
	background-image: url(../img/v_poster2.jpg);
	background-size: cover;
	background-position: center center;
}
.v_slide3{
	background-image: url(../img/v_poster3.jpg);
	background-size: cover;
	background-position: center center;
}
.video-box{
	width: 12.8rem;
	height: 8.2rem;	
	/*background-color: #000000;*/
	/*margin: 1rem auto 0;*/
	position: relative;
	opacity: 0;
	transform: scale(0.1);
	-webkit-transform: scale(0.1);
	-ms-transform: scale(0.1);
	-o-transform: scale(0.1);
	-moz-transform: scale(0.1);
}
.video-box-content{
	width: 12.8rem;
	height: 7.2rem;
	position: relative;
}
.myVideo{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}
.touch_box{
	width: 12.8rem;
	height: 7.2rem;
	position: absolute;
	top: 0;
	left: 0;	
	z-index: 5;
	display: none;
}
.scroll {
	width: 11.67rem;
	height: .12rem;
	background-image: url(../img/pre.png);
	background-size: 100% 100%;
	position: absolute;
	bottom: 100px;
	left: 50%;
	margin-left: -5.835rem;
}
.myCanvas{
	width: 12.8rem;
	height: 7.2rem;
	
}
.bar_1{
	width: 1.47rem;
	height: 0.51rem;
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -0.255rem;
	cursor: pointer;
	background-image: url(../img/Super-slow_btn.png);
	background-size: 100% 100%;
	z-index: 10;
}
.bar_2{
	width: 1.47rem;
	height: 0.51rem;
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -0.255rem;
	cursor: pointer;
	background-image: url(../img/Super-slow_btn_2.png);
	background-size: 100% 100%;
	z-index: 10;
}
.bar_3{
	width: 1.47rem;
	height: 0.51rem;
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -0.255rem;
	cursor: pointer;
	background-image: url(../img/Super-slow_btn_3.png);
	background-size: 100% 100%;
	z-index: 10;
}
.bar img {
	width: 2.06rem;
	height: 0.95rem;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -1.03rem;
	margin-top: -0.475rem;
	/*z-index: -1;*/
}

.mask {
	position: absolute;
	left: 0;
	top: 0;
	background: #369;
	width: 0;
	height: 0.05rem;
}

.play_icon{
	width: 2.8rem;
	height: 2.8rem;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -1.4rem;
	margin-top: -1.4rem;
	z-index: 10;
	display: none;
	cursor: pointer;
}
.play_icon_add{
	width: 1.4rem;
	height: 1.4rem;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -0.7rem;
	margin-top: -0.7rem;
	z-index: 10;
	/*display: none;*/
	cursor: pointer;
}
.play_icon_ear{
	width: 2.8rem;
	height: 2.8rem;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -1.4rem;
	margin-top: -1.4rem;
	z-index: 3;
	display: none;
	cursor: pointer;
}
.poster_img{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}
.title-24{
	width: 5.16rem;
	position: absolute;
	left: 50%;
	margin-left: -2.58rem;
	/*bottom: 0;*/
	bottom: -300px;
	opacity: 0;
}
.title-96{
	width: 5.56rem;
	position: absolute;
	left: 50%;
	margin-left: -2.78rem;
	/*bottom: 0;*/
	bottom: -300px;
	opacity: 0;
}
.video_p1{
	width: 6.11rem;
	position: absolute;
	left: 50%;
	margin-left: -3.05rem;
	/*bottom: 0;*/
	bottom: -300px;
	opacity: 0;
}

.slide2_p2{
	width: 1.62rem;
	position: absolute;
	top: 0;
	right: -2.27rem;
	cursor: pointer;
}
.how_img_box{
	width: 1.99rem;
	height: 0.55rem;
	position: absolute;
	top: 0;
	right: -2.46rem;
	cursor: pointer;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	-moz-transition: all 0.3s;
}
.how_img_box:hover{
	transform: scale(1.1);
	-o-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-moz-transform: scale(1.1);
}
.how_img{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.shopping_img_box:hover{
	transform: scale(1.1);
	-o-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-moz-transform: scale(1.1);
}
.shopping_img_box{
	width: 1.99rem;
	height: 0.55rem;
	position: absolute;
	top: 0.8rem;
	right: -2.46rem;
	cursor: pointer;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	-moz-transition: all 0.3s;	
	
}
.shopping_img{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;

}
.how_box{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	visibility: hidden;
	background-image: url(../img/slide2_bg.jpg);
	background-size: cover;
	background-position: center center;
}
.floor_img{
	position: absolute;
	width: 100%;
	height: 22%;
	bottom: 0;
	
}
.people_01{
    position: absolute;
    width: 2.9rem;
    bottom: 22%;
    left: -42%;
}
.people_02{
    position: absolute;
    width: 2.95rem;
    bottom: 43%;
    left: 17%;
}
.people_03{
    position: absolute;
    width: 3.6rem;
    bottom: 33%;
    left: 70%;
}
.s_phone_div{
	position: absolute;
	width: 4.30rem;
	height: 9.14rem;
	bottom: 0;
	left: 54%;
	margin-left: -2.15rem;
}
.people3_div{
	height: 100%;
    width: 97%;
    left: 2%;
	position: absolute;
	top: 0;
	overflow: hidden;
}
.swingVideo{
    width: 148%;
    left: -25%;
    top: 9%;
    position: absolute;
}

.swingVideo1{
    width: 148%;
    left: -25%;
    top: 9%;
    position: absolute;
   display: none;
}
.swingVideo2{
    width: 148%;
    left: -25%;
    top: 9%;
    position: absolute;
    display: none;
}
.s_phone{
	position: absolute;
	width: 4.30rem;
	height: 100%;
	bottom: 0;
	left: 0;
	z-index: 10;
	
}
.floor_2{
	width: 100%;
	position: absolute;
	bottom: 0;
	width: 100%;
	z-index: 3;
}
.swing_img1{
	position: absolute;
	width: 0.68rem;
	left: 50%;
	margin-left: -0.34rem;
	top: 79%;
	z-index: 5;
}
.swing_img2{
	position: absolute;
	width: 0.68rem;
	left: 50%;
	margin-left: -0.34rem;
	top: 79%;
	z-index: 5;
	display: none;
}
.swing_img3{
	position: absolute;
	width: 0.68rem;
	left: 50%;
	margin-left: -0.34rem;
	top: 79%;
	z-index: 5;
	display: none;
}
.slow_2{
	position: absolute;
    width: 97%;
    left: 2%;
    bottom: 0;
}
.hand_img{
position: absolute;
    width: 6.81rem;
    bottom: -3.5%;
    left: 48.5%;
    margin-left: -3.405rem;
}
/**********slide3*********/
.slide3{
	/*width: 100%;
	height: 100%;*/
	background-color: #FFFFFF;
}
.slow_swiper{
	width: 100%;
	height: 100%;
}
.slow_swiper .swiper-slide{
	/*width: 100% !important;
	height: 100% !important;*/

}
.slide_item1{
	width: 100%;
	position: absolute;
	bottom: 0;
	
}
.pagination {
  position: absolute;
  left: 0;
  text-align: center;
  bottom:20px;
  height: 0.08rem;
  width: 100%;
  z-index: 10;
}
.swiper-pagination_1 {
  position: absolute;
  left: 0;
  text-align: center;
  bottom:20px;
  height: 0.18rem;
  width: 100%;
  z-index: 10;
}
.swiper-pagination_1 .swiper-pagination-switch{
  	display: inline-block;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #738aca;	
	vertical-align: top;
	margin: 0 0.15rem;
	cursor: pointer;
	
}
.swiper-pagination_1 .swiper-active-switch{
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #eee;
	cursor: pointer;
}
.pagination .swiper-pagination-switch{
  	display: inline-block;
	width: 1.8rem;
	height: 0.08rem;
	border-radius: 20px;
	background-color: #FFFFFF;
	vertical-align: top;
	margin: 0 0.15rem;
}
.pagination .swiper-active-switch{
	width: 1.8rem;
	height: 0.08rem;
	border-radius: 20px;
	background-color: #738aca;
}
.yulan1{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	transform: scale(0.6);
	-moz-transform: scale(0.6);
	-ms-transform: scale(0.6);
	-o-transform: scale(0.6);
	-webkit-transform: scale(0.6);
}
.yulan2{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	transform: scale(0.6);
	-moz-transform: scale(0.6);
	-ms-transform: scale(0.6);
	-o-transform: scale(0.6);
	-webkit-transform: scale(0.6);
}
.yulan3{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	display: none;
	transform: scale(0.6);
	-moz-transform: scale(0.6);
	-ms-transform: scale(0.6);
	-o-transform: scale(0.6);
	-webkit-transform: scale(0.6);
}
.arrow_show{
	z-index: 5;
}
.arrow-left_1{
	width: 2.39rem;
	height: 1.99rem;
	position: absolute;
	top: 50%;
	margin-top: -1rem;
	left: 0rem;
	z-index: 4;
	visibility: hidden;
}
.arrow-left_3{
	width: 2.39rem;
	height: 1.99rem;
	position: absolute;
	top: 50%;
	margin-top: -1rem;
	left: 0rem;
	z-index: 4;
	visibility: hidden;
}
.yulan_img_l{
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
}
.yulan_img_r{
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
}
.arrow-left_1:hover .yulan_img_l{
	/*display: block;*/
	transform: scale(1);
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	opacity: 1;
}
.arrow-right_1:hover .yulan_img_r{
	/*display: block;*/
	transform: scale(1);
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	opacity: 1;
}
.arrow-left_1:hover .arrow_ls{
	display: block;
	
}
.arrow-right_1:hover .yulan_img_r{
	/*display: block;*/
	
}
.arrow-right_1:hover .arrow_rs{
	display: block;
	
}
.arrow-right_1{
	width: 2.39rem;
	height: 1.99rem;
	position: absolute;
	top: 50%;
	margin-top: -1rem;
	right: 0;
	z-index: 4;
}
.arrow-right_3{
	width: 2.39rem;
	height: 1.99rem;
	position: absolute;
	top: 50%;
	margin-top: -1rem;
	right: 0;
	z-index: 4;
}
.arrow_rs{
	width: 0.39rem;
	height: 0.71rem;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -0.195rem;
	margin-top: -0.355rem;
	z-index: 6;
	display: none;
}
.arrow_ls{
	width: 0.39rem;
	height: 0.71rem;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -0.195rem;
	margin-top: -0.355rem;
	display: none;
	z-index: 6;
}
.arrow_right_icon{
	width: 0.79rem;
    height: 1.07rem;
    position: absolute;
    top: 47%;
    left: 58%;
    margin-left: -0.395rem;
    margin-top: -0.535rem;
}
.arrow_left_icon{
	width: 0.79rem;
	height: 1.07rem;
	position: absolute;
	top: 47%;
	right: 58%;
	margin-left: -0.395rem;
	margin-top: -0.535rem;
}
.arrow_right_icon1{
	width: 0.79rem;
    height: 1.07rem;
    position: absolute;
    top: 47%;
    left: 85%;
    margin-left: -0.395rem;
    margin-top: -0.535rem;
}
.arrow_left_icon1{
	width: 0.79rem;
	height: 1.07rem;
	position: absolute;
	top: 47%;
	right: 70%;
	margin-left: -0.395rem;
	margin-top: -0.535rem;
}
.arrow-left{
	width: 0.79rem;
	height: 1.07rem;
	background-image: url(../img/arrow-left.png);
	background-size: 100% 100%;
	position: absolute;
	top: 50%;
	margin-top: -0.535rem;
	left: 20px;
	z-index: 20;
	/*opacity: 0;*/
	visibility: hidden;
}
.arrow-right{
	width: 0.79rem;
	height: 1.07rem;
	background-image: url(../img/arrow-right.png);
	background-size: 100% 100%;
	position: absolute;
	top: 50%;
	margin-top: -0.535rem;
	right: 20px;
	z-index: 20;
	
}
.shareSave{
	width: 0.98rem;
	position: absolute;
	top: 0.7rem;
	right: 0.52rem;
}
.swiper-button-disabled{
	display: none;
}
.word_box{
	position: absolute;
	top: 1.24rem;
	left: 1.5rem;
	
}
.how1_icon2{
    width: 1.18rem;
    height: 1.18rem;
    position: absolute;
    left: 50%;
    margin-left: -0.59rem;
    bottom: 19%;
}
.how1_icon1{
	width: 1.09rem;
    height: 0.61rem;
    /* margin-left: -0.6rem; */
    position: absolute;
    bottom: 22%;
    left: 6%;
}
.how1_icon3{
	width: 0.73rem;
    height: 0.73rem;
    /* margin-left: -0.6rem; */
    position: absolute;
    bottom: 21%;
    right: 11%;
}
.phone_nav{
	width: 4.15rem;
    position: absolute;
    top: 5%;
    left: 50%;
    margin-left: -2.075rem;
}
.phone_nav1{
	width: 4.15rem;
    position: absolute;
    top: 5%;
    left: 50%;
    margin-left: -2.075rem;
}
.kuang_img{
    width: 2.39rem;
    height: 2.41rem;
    position: absolute;
    bottom: 57%;
    left: 23%;
	
}
.word_box_1{
	position: absolute;
	left: -1.58rem;
	top: 50%;
	z-index: 5;
	opacity: 0;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
.active .word_box_1{
	opacity: 1;
	left: 1.58rem;
	transition-duration: 0.5s;
}
.s1-1{
	width: 4.06rem;
	display: block;
}
.s1-2{
	width: 4.07rem;
	display: block;
	margin-top: 0.2rem;
}
.s1-3{
	width: 2.21rem;
	display: block;
	margin-top: 0.3rem;
}
.s1-4{
	width: 4.13rem;
	display: block;
	margin-top: 0.14rem;
}
.s2_1{
	width: 2.24rem;
	height: 0.29rem;
	display: block;
}
.s2_2{
	width: 3.91rem;
	/*height: 1.1rem;*/
	display: block;
	margin-top: 0.18rem;
}
.s3_1{
	width: 2.9rem;
	height: 0.29rem;
	display: block;
}
.s3_2{
	width: 3.91rem;
	/*height: 1.1rem;*/
	display: block;
	margin-top: 0.17rem;
}
.title_1{
	font-size: 1.9768rem;
	color: #FFFFFF;
}
.title_2{
	font-size: 0.8781rem;
	color: #FFFFFF;
}
.title_3{
	font-size: 0.3rem;
	color: #fff231;
}
.title_4{
	font-size: 0.2rem;
	color: #FFFFFF;
	width: 3.95rem;
	text-align: justify;
}
.detail_img_box{
	width: 1.99rem;
	height: 0.55rem;
	position: absolute;
	top: 1.23rem;
	right: 0.6rem;
	cursor: pointer;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	-moz-transition: all 0.3s;
}
.detail_img_box:hover{
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1)
}
.detail_img{
	width: 100%;
	height: 100%;
	display: block;
	
}
.shopping_img_1_box{
	width: 1.99rem;
	height: 0.55rem;
	position: absolute;
	top: 2rem;
	right: 0.6rem;
	cursor: pointer;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	-moz-transition: all 0.3s;
}
.shopping_img_1_box:hover{
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1)
}
.shopping_img_1{
	width: 100%;
	height: 100%;
	display: block;
}
.control_div{
	width: 3.4rem;
	height: 1.5rem;
	position: absolute;
	right: 0.6rem;
	top: 41%;
}
.control_item{
	width: 100%;
	height: 0.44rem;
	line-height: 0.44rem;
	cursor: pointer;
}
.reverse_loop{
	width: 1.53rem;
	height: 0.24rem;
	display: block;
	margin-left: 0.32rem;
	float: left;
	
}
.forward_loop{
	width: 1.65rem;
	height: 0.24rem;
	display: block;
	margin-left: 0.13rem;

	float: left;
}
.swing_img{
	width: 0.74rem;
	height: 0.27rem;
	display: block;
	margin-left: 0.13rem;
	transform: scale(1.2);
	float: left;
}
.circle_s{
	width: 0.21rem;
    height: 0.19rem;
    float: left;
    margin-top: 0.1rem;
    visibility: hidden;
}
.s_p{
	font-size: 0.2368rem;
	float: left;
	margin-left: 0.13rem;
	color: #FFFFFF;
	letter-spacing: 2px;
}

.c_active .s_p{
	font-size: 0.3789rem;
} 
.c_active .circle_s{
	visibility: visible;
}

/**************slide4*************/
.slide4{
	/*width: 100%;
	height: 100%;*/
}
.slide4_box{
	width: 100%;
	height: 100%;
	/*background-image: url(../img/Bixby_bg.jpg);
	background-size: cover;
	background-position: center center;*/
	z-index: 10;
	position: absolute;
	transition: all 1s;
	-webkit-transition: all 1s;
	-ms-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
}
.canvas_div{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.close_bixby{
	width: 0.88rem;
	height: 0.88rem;
	position: absolute;
	top: 0.4rem;
	right: 0.6rem;
	z-index: 2;
	cursor: pointer;
}
.bixby_word{
    width: 8rem;
    position: absolute;
    left: 50%;
    margin-left: -4rem;
    bottom: 0.1rem;
    z-index: 2;
}
.bixby_word_1{
     width: 8rem;
    position: absolute;
    left: 50%;
    margin-left: -4rem;
    bottom: 0.1rem;
    z-index: 2;
}
.slide4_content{
	width: 11.36rem;
	height: 5.6rem;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -5.68rem;
	margin-top: -2.8rem;
}
.left_plane{
	width: 2.01rem;
	height: 2.24rem;
	position: absolute;
	top: -1.71rem;
	left: 0;
}
.left_plane_icon{
	display: none;
}
.right_plane_icon{
	display: none;
}
.left_plane img{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	
	
}
.right_plane{
	width: 1.07rem;
	height: 1.9rem;
	position: absolute;
	top: 0;
	right: 1rem;
}
.right_plane img{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.bixby_logo{
	width: 2.7rem;
	display: block;
	margin: 0 auto;
	
}
.bixby_title{
	width: 7.1rem;
	display: block;
	margin: 0.4rem auto 0;
}
.bixby_1{
	display: block;
	width: 100%;
	margin-top: 0.54rem;
}
.bixby_2{
	display: block;
	width: 100%;
}
.bixby_3{
	display: block;
	width: 100%;
}
.bixby_btn{
	width: 5.07rem;
	display: block;
	margin: 0.8rem auto 0;
	cursor: pointer;
}
.bixby_btn_box{
	width: 5.07rem;
	height: 0.88rem;
	display: block;
	margin: 0.8rem auto 0;
	cursor: pointer;
	position: relative;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
}
.bixby_btn_box img{
	display: block;
	width: 100%;
	height: 100%;
}
.bixby_btn_box:hover{
	transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);
}
/*************slide5**************/
.slide5{
	/*width: 100%;
	height: 100%;*/
	background-image: url(../img/music.jpg);
	background-size: cover;
	background-position: center center;
}
.slide5_bg{
	position: absolute;
	z-index: -1;
}
.music_box{
	width: 1.83rem;
	height: 1.05rem;
	position: absolute;
	right: 0.8rem;
	cursor: pointer;
	top: 0.7rem;
}
.m_phone_box{
	width: 9.63rem;
	height: 6.33rem;
	position: absolute;
	left: 50%;
	margin-left: -4.815rem;
	top: 50%;
	margin-top: -3.41rem;
}
.music_name{
	color: #78564a;
	font-size: 0.26rem;
	font-family: "SamsungSharpSans-Bold" !important;
	text-align: center;
	width: 100%;
	position: absolute;
	bottom: -0.4rem;
	left: 0;
}
.m_phone{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 5;
}
.circle{
	position: absolute;
	border-radius: 50%;
	width: 2.4rem;
	height: 2.4rem;
	border: 2px solid #FFFFFF;
	top: -89%;
	margin-left: -1.2rem;
	visibility: hidden;
	opacity: 1;
	animation-timing-function:linear;
	-webkit-animation-timing-function:linear;
	-ms-animation-timing-function:linear;
	-moz-animation-timing-function:linear;
	-o-animation-timing-function:linear;
	animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
    -o-animation-iteration-count:infinite;
    animation-duration:2.4s;
    -webkit-animation-duration:2.4s;
    -moz-animation-duration:2.4s;
    -ms-animation-duration:2.4s;
    -o-animation-duration:2.4s;
	/*margin-top: -0.6rem;*/
}
.circle_1{
	position: absolute;
	border-radius: 50%;
	width: 2.4rem;
	height: 2.4rem;
	bottom: 0;
	border: 2px solid #f3eae7;
	margin-bottom: -1.2rem;
	left: 0;
	margin-left: -1.2rem;
	opacity: 1;
	animation-timing-function:linear;
	-webkit-animation-timing-function:linear;
	-ms-animation-timing-function:linear;
	-moz-animation-timing-function:linear;
	-o-animation-timing-function:linear;
	animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
    -o-animation-iteration-count:infinite;
    animation-duration:2.4s;
    -webkit-animation-duration:2.4s;
    -moz-animation-duration:2.4s;
    -ms-animation-duration:2.4s;
    -o-animation-duration:2.4s;
	/*margin-top: -0.6rem;*/
}
.circle_1_r{
	position: absolute;
	border-radius: 50%;
	width: 2.4rem;
	height: 2.4rem;
	bottom: 0;
	border: 2px solid #f3eae7;
	margin-bottom: -1.2rem;
	right: 0;
	margin-left: 1.2rem;
	opacity: 1;
	animation-timing-function:linear;
	-webkit-animation-timing-function:linear;
	-ms-animation-timing-function:linear;
	-moz-animation-timing-function:linear;
	-o-animation-timing-function:linear;
	animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
    -o-animation-iteration-count:infinite;
    animation-duration:2.4s;
    -webkit-animation-duration:2.4s;
    -moz-animation-duration:2.4s;
    -ms-animation-duration:2.4s;
    -o-animation-duration:2.4s;
	/*margin-top: -0.6rem;*/
}
.circle_r{
	position: absolute;
	border-radius: 50%;
	width: 2.4rem;
	height: 2.4rem;
	border: 2px solid #FFFFFF;
	top: -89%;
	right: 0;
	margin-right: -1.2rem;
	visibility: hidden;
	opacity: 1;
	animation-timing-function:linear;
	-webkit-animation-timing-function:linear;
	-ms-animation-timing-function:linear;
	-moz-animation-timing-function:linear;
	-o-animation-timing-function:linear;
	animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
    -o-animation-iteration-count:infinite;
    animation-duration:2.4s;
    -webkit-animation-duration:2.4s;
    -moz-animation-duration:2.4s;
    -ms-animation-duration:2.4s;
    -o-animation-duration:2.4s;
	/*margin-top: -0.6rem;*/
}
.s4_t{
	width: 7.09rem;
	height: 1.28rem;
	position: absolute;
	left: 50%;
	margin-left: -3.545rem;
	top: -0.5rem;
	z-index: 5;
}
.music_desc{
	width: 4.29rem;
	position: absolute;
	left: 50%;
	margin-left: -2.145rem;
	top: 1rem;
	z-index: 5;
}
.crirle_box{
	height: 1rem;
	top: 50%;
	left: 50%;
	position: absolute;
	width: 9.63rem;
	margin-left: -4.815rem;
	margin-top: -0.5rem;
	/*position: relative;*/
}
.music_close{
	width: 1.77rem;
	height: 1.05rem;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -0.885rem;
	
}
.music_on{
	width: 1.83rem;
	height: 1.05rem;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	
}
.bottom_word_div{
	width: 12.82rem;
	height: 0.68rem;
	bottom: 0.8rem;
	position: absolute;
	left: 50%;
	margin-left: -6.4rem;
}
.famian_png{
	width: 12.55rem;
	position: absolute;
	left: 50%;
	margin-left: -6.275rem;
	bottom: 0.2rem;
}
.bottom_word_div .m_div{
	cursor: pointer;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	-moz-transition: all 0.3s;
}
.bottom_word_div .m_div:hover{
	transform: scale(1.1);
	-o-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-moz-transform: scale(1.1);
	
}
.md1_div{
	width: 3.56rem;
	height: 0.68rem;
	position: absolute;
	top: 0;
	left: 0;
}
.line_Y_m{
	background-color: #e4d0ca;
	width: 1px;
	height: 0.44rem;
	position: absolute;
	top: 50%;
	margin-top: -0.22rem;
	left: 4.1rem;
}
.line_Y_m2{
	background-color: #e4d0ca;
	width: 1px;
	height: 0.44rem;
	position: absolute;
	top: 50%;
	margin-top: -0.22rem;
	right: 4.1rem;
}
.md2_div{
	width: 3.56rem;
	height: 0.68rem;
	margin: 0 auto;
}
.md3_div{
	width: 3.56rem;
	height: 0.68rem;
	position: absolute;
	top: 0;
	right: 0;
}
.bottom_word_div img{
	display: block;
	width: 100%;
	height: 100%;
}
.detail_box{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	background-color: #FFFFFF;
	transform: translateY(-100%);
	-webkit-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	-o-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	/*opacity: 0;*/
}
.detail_box_show{
	z-index: 10;
	opacity: 1;
	transform: translateY(0%);
	-webkit-transform: translateY(0%);
	-ms-transform: translateY(0%);
	-o-transform: translateY(0%);
	-moz-transform: translateY(0%);
}
.music_swiper{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.music_1_box{
	width: 9.65rem;
	height: 3.03rem;
	margin: 0 auto 0;
	position: relative;
}
.music_1{	
	position: absolute;
	top: 0;
	width: 16.44rem;
	left: 50%;	
	margin-left: -8.22rem;
	z-index: 2;
}
.m1_p1{
	width: 4.83rem;
	display: block;
	margin: 1rem auto 0;
}
.m1_p2{
	width: 5.58rem;
	display: block;
	margin: 0.3rem auto 0;
}
.m1_p3{
	width: 12.02rem;
	display: block;
	margin: 0.6rem auto 0;
}
.m_btn_box{
	width: 5.57rem;
	height: 0.88rem;
	display: block;
	margin: 0.65rem auto 0;
	cursor: pointer;
	position: relative;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	-moz-transition: all 0.3s;
}
.m_btn_box:hover{
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
}
.m_btn_box img{
	width: 100%;
	height: 100%;
	display: block;
	
}
.music_2{
	width: 17.23rem;
	display: block;
	margin: 0 auto 0;
}
.m2_p1{
	width: 8.72rem;
	display: block;
	margin: -1.43rem auto 0;
}
.m2_p2{
	width: 7.35rem;
	display: block;
	margin: 0.32rem auto 0;
}
.m2_p3{
	width: 11.57rem;
	display: block;
	margin: 0.65rem auto;
}
.up_icon_box{
	width: 1.17rem;
	height: 0.29rem;
	position: absolute;
	top: 38%;
	left: -1.56rem;
	z-index: 1;
	cursor: pointer;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-moz-transition: all 0.3s;
}
.up_icon_box:hover{
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
}
.up_icon_box img{
	width: 100%;
	height: 100%;
	display: block;
}
/*.people1{
	transform: translate(0px,20px);
}
.people2{
	transform: translate(0px,20px);
}
.people3{
	transform: translate(0px,20px);
}
.people4{
	transform: translate(0px,20px);
}*/
.down_icon_box{
	width: 1.2rem;
	height: 0.29rem;
	position: absolute;
	top: 38%;
	right: -1.59rem;
	z-index: 1;
	cursor: pointer;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-moz-transition: all 0.3s;
}
.down_icon_box:hover{
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
}
.down_icon_box img{
	display: block;
	width: 100%;
	height: 100%;
}
.m_slide1{
	background-color: #FFFFFF;
}
.m_slide2{
	background-color: #FFFFFF;
}
.m_slide3{
	background-color: #FFFFFF;
}

.m_slide3_content{
	width: 16.48rem;
	height: 5.52rem;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -8.24rem;
	margin-top: -2.76rem;
	
}
.video-box-2{
	width: 9.81rem;
	height: 5.52rem;
	float: left;
	position: relative;
}
.video-box-2 .poster_ear{
	display: block;
	width: 100%;
	height: 100%;
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}
.earVideo{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.ear_title{
	width: 3.97rem;
	display: block;
	margin-top: 0.8rem;
}
.word_box_3{
    width: 6.26rem;
    height: 5.52rem;
    position: absolute;
    bottom: 0;
    left: 10.38rem;
}
.m3_p1{
	width: 4.7rem;
	
	display: block;
}

.me_all_img{
	width: 6.26rem;
	display: block;
}
.m3_p2{
	width: 3.8rem;
	margin-top: 0.16rem;
	display: block;
}
.m3_p3{
	margin-top: 0.5rem;
}
.m_detail_box{
	width: 2.2rem;
	height: 0.61rem;
	position: absolute;
	left: 0;
	bottom: 0;
	cursor: pointer;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
}
.m_detail_box img{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0
}
.m_detail_box:hover{
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
}
.buy_ear{
	position: absolute;
	width: 2.18rem;
	right: 0;
	bottom: 0;	
	cursor: pointer;
}
.m_p1{
	font-size: 0.24rem;
	color: #000000;
}
.ear_img{
	width: 4rem;
	/*height: 4.19rem;*/
	position: absolute;
	top: -1.3rem;
	right: -1rem;
}
.close_2{
	width: 0.61rem;
	height: 0.61rem;
	position: absolute;
	top: 0.51rem;
	right: 0.51rem;
	cursor: pointer;
	z-index: 10;
}
.arrow-left_2{
	width: 0.44rem;
	height: 0.77rem;
	background-image: url(../img/arrow_left_2.png);
	background-size: 100% 100%;
	position: absolute;
	top: 50%;
	margin-top: -0.385rem;
	left: 20px;
	z-index: 10;
	/*visibility: hidden;*/
}
.arrow-right_2{
	width: 0.39rem;
	height: 0.77rem;
	background-image: url(../img/arrow_right_2.png);
	background-size: 100% 100%;
	position: absolute;
	top: 50%;
	margin-top: -0.385rem;
	right: 20px;
	z-index: 10;
}
/*************************/
.center_X{
	position: absolute;
	height: 100%;
	left: 50%;
	transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
}
.center_Y{
	position: absolute;
	top: 50%;
	width: 100%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}

.center{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
.c_x{
	height: 100%;
	
}
.c_y{
	width: 100%;
}

.show{
	display: block;
	
}
.gb-footer__btn-top{
	display: none;
}
.gb-footer__link{
	display: none;
}
.slide6{
	
}
.f_header{
	width: 100%;
	background-color: #000000;
	position: relative;
}
.famian_png_2{
	width: 17.46rem;
	height: 0.43rem;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -8.73rem;
	margin-top: -0.215rem;
}
.gb-footer__lang{
	display: none !important;
}
.f_body{
	height: 55%;
	width: 100%;
	background-color: #FFFFFF;
}
.f_foot{
	width: 100%;
	height: 17%;
	background-color: #363636;
}

/*è¶…æ‰å±å¹•** /
 * 
 */
.kv1_w1_s{
	width: 5rem;
    position: absolute;
    left: 50%;
    margin-left: -2.5rem;
    top: 22%;
    z-index: 2;
}
.kv1_w2_s{
	width: 4rem;
    position: absolute;
    left: 53%;
    margin-left: -2rem;
    top: 31%;
    z-index: 2;
}
.kv_phone2_s{
	width: 4rem;
    position: absolute;
    left: 50%;
    margin-left: -2rem;
    bottom: 0;
    z-index: 1;
}
.kv_w1_s{
    width: 5.816rem;
    margin: 2rem auto 0;
    /*position: absolute;
    left: 50%;
    margin-left: -2rem;
    top: 20%;
    z-index: 2;*/
}
.kv_w2_s{
    width: 5.288rem;
    /*position: absolute;
    left: 51%;
    margin-left: -2.4rem;
    top: 33%;
    z-index: 2;*/
}
.kv_phone1_s{
	width: 4rem;
	margin: 0.28rem auto 0;
	display: block;
}
.kv_btn_news{
	width: 2.21rem;
    /* height: 0.77rem; */
    display: block;
    margin: 0.15rem auto 0;
}
.phone_box_s{
	width: 8.11rem;
	height: 5.33rem;
	position: absolute;
	left: 50%;
	margin-left: -4.055rem;
	top: 50%;
	margin-top: -3.41rem;
}
.crirle_box_s{
    height: 1rem;
    top: 50%;
    left: 50%;
    position: absolute;
    width: 7.63rem;
    margin-left: -3.815rem;
    margin-top: -0.5rem;
}


.arrow_leftAni{
	animation: 1s leftAni infinite;
	-webkit-animation: 1s leftAni infinite;
	-moz-animation: 1s leftAni infinite;
	-ms-animation: 1s leftAni infinite;
	-o-animation: 1s leftAni infinite;
}
@keyframes leftAni{
	from{transform: translateX(0px);opacity: 1;}
	to{transform: translateX(-20px);opacity: 0;}
}
@-webkit-keyframes leftAni{
	from{-webkit-transform: translateX(0px);opacity: 1;}
	to{-webkit-transform: translateX(-20px);opacity: 0;}
}
@-moz-keyframes leftAni{
	from{-moz-transform: translateX(0px);opacity: 1;}
	to{-moz-transform: translateX(-20px);opacity: 0;}
}
@-ms-keyframes leftAni{
	from{-ms-transform: translateX(0px);opacity: 1;}
	to{-ms-transform: translateX(-20px);opacity: 0;}
}
@-o-keyframes leftAni{
	from{-o-transform: translateX(0px);opacity: 1;}
	to{-o-transform: translateX(-20px);opacity: 0;}
}

.arrow_rightAni{
	animation: 1s rightAni infinite;
	-webkit-animation: 1s rightAni infinite;
	-moz-animation: 1s rightAni infinite;
	-ms-animation: 1s rightAni infinite;
	-o-animation: 1s rightAni infinite;
}
@keyframes rightAni{
	from{transform: translateX(0px);opacity: 1;}
	to{transform: translateX(20px);opacity: 0;}
}
@-webkit-keyframes rightAni{
	from{-webkit-transform: translateX(0px);opacity: 1;}
	to{-webkit-transform: translateX(20px);opacity: 0;}
}
@-moz-keyframes rightAni{
	from{-moz-transform: translateX(0px);opacity: 1;}
	to{-moz-transform: translateX(20px);opacity: 0;}
}
@-ms-keyframes rightAni{
	from{-ms-transform: translateX(0px);opacity: 1;}
	to{-ms-transform: translateX(20px);opacity: 0;}
}
@-o-keyframes rightAni{
	from{-o-transform: translateX(0px);opacity: 1;}
	to{-o-transform: translateX(20px);opacity: 0;}
}