@font-face {
    font-family: "FZLTH8K";
    src: url("FZLTH8K.eot"); /* IE9 */
    src: url("FZLTH8K.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    
    url("FZLTH8K.woff") format("woff"), /* chrome、firefox */
    url("FZLTH8K.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
    
    url("FZLTH8K.svg#FZLTH8K") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


